<div class="index">
  <div class="container">
    <h1>Cinema Ironhack</h1>
    {{#if user}}
    <h4>Welcome {{user.username}}</h4>
    <a href="/movies">Check the movies!</a>
    {{else}}
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    {{/if}}
  </div>
</div>