{{#with user}}
<img src="{{profilePic}}">
<h5>Welcome {{username}}, wazaaaaaaaaaaaaaaaa</h5>

<a href="/profile/edit">Edit your profile</a>
<a href="/">Go to main menu</a>

{{#if shortBio}}

<p>
  {{shortBio}}
</p>
{{/if}}
{{#if prefersDarkMode}}
<a href="/profile/dark-mode">Set light mode</a>
{{else}}
<a href="/profile/dark-mode">Set dark mode</a>
{{/if}}
{{/with}}